.button{
    background:linear-gradient(to bottom, crimson, red);
    color:white;
    border: 0;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 12px;
    font-weight: bold;
    cursor:pointer;
    margin: 10px;
}

.button:hover{
    background:linear-gradient(to bottom, red, crimson);    
}